@import "tailwindcss";

:root {
  --color-primary-40: #1b6ef3;
  --color-primary-60: #3c8bf5;
  --color-white-100: #ffffff;
  --color-neutral-10: #121212;
  --color-neutral-40: #757575;

  --color-semantic-success: #2e7d32;
  --color-semantic-info: #0288d1;
  --color-semantic-warning: #ed6c02;
  --color-semantic-error: #d32f2f;

  --color-ui-background: #ffffff;
  --color-ui-foreground: #121212;
  --color-ui-primary: var(--color-primary-40);
  --color-ui-primary-hover: #1558c7;
  --color-ui-border: #e0e0e0;

  --hero-gradient-start: #f8f9fa;
  --hero-gradient-end: #e2e8f0;

  --radius-button: 9999px; 
  --ease-standard: cubic-bezier(0.4, 0, 0.2, 1);
}

[data-theme="dark"] {
  --color-ui-background: #190000;
  --color-ui-foreground: #ffffff;
  --color-ui-primary: var(--color-primary-60);
  --color-ui-primary-hover: #5a9fff;
  --color-ui-border: #333333;
  --hero-gradient-start: #121212;
  --hero-gradient-end: #000000;
  --color-semantic-success: #4caf50;
}


@theme inline {
  --color-ui-background: var(--color-ui-background);
  --color-ui-foreground: var(--color-ui-foreground);
  --color-ui-primary: var(--color-ui-primary);
  --color-ui-primary-hover: var(--color-ui-primary-hover);
  --color-ui-border: var(--color-ui-border);

  --color-semantic-success: var(--color-semantic-success);
  --color-semantic-info: var(--color-semantic-info);
  --color-semantic-warning: var(--color-semantic-warning);
  --color-semantic-error: var(--color-semantic-error);

  --radius-button: var(--radius-button);
}

@layer base {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    border-color: var(--color-ui-border);
  }

  body {
    background-color: var(--color-ui-background);
    color: var(--color-ui-foreground);
    transition: background-color 0.5s ease, color 0.5s ease;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@utility bg-ui-background {
  background-color: var(--color-ui-background);
}

@utility text-ui-foreground {
  color: var(--color-ui-foreground);
}